.container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    overflow-x: auto;
}

button{
    margin-bottom: 3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

thead tr {
    background-color: #5ca0ff;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    text-align: left;
}